body{
    background-image: url("img/136632.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 7em 7em;
}

#frosted{
    
    position: relative;
    margin: 0 2em 0 2em;
    box-shadow: 0 0 1rem 0 rgba(255, 255, 255, .7);
    background: inherit;
    z-index: 1;
    overflow: hidden;
    

}

#frosted::before{
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 500px rgba(255, 255, 255, .9);
    filter: blur(30px);
    z-index: -1;
    
}

#current-word{
    padding: 0;
    margin: 0;
    color: white;
}

span{
    margin: 0 0.17em;
    
}

p{
    margin: 0 0;
}